/Users/yba/Documents/GitHub/FullStackWeb/Backend.nosync/2.4 QR Code Project/node_modules/
/Backend.nosync/.DS_Store
/Backend.nosync/2.4 QR Code Project/node_modules
/Backend.nosync/2.3 NPM/node_modules
/Backend.nosync/3.1 Express Server/node_modules
/Backend.nosync/3.2 HTTP Requests/node_modules
/Backend.nosync/3.3 Postman/node_modules
/Backend.nosync/3.4 Middleware/node_modules